* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    background-image: url("https://images.unsplash.com/photo-1528819622765-d6bcf132f793?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80")
}

h1 {
    margin: 10px;
    color: white;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    background-color: black;
}

.rowChild {
    display: flex;
}

.square {
    display: grid;
    place-items: center;
    margin: .5px;
    width: 100px;
    height: 100px;
    border: solid 0.1px;
    font-size: 0;
    border: solid black 1px
}

.icons {
    width: 80px;
    position: relative;
}

.pawn {
    transform: scale(0.9, 0.9);
}

.bishop {
    transform: scale(1.5, 1.3);
    margin-bottom: 12px;
}

.knight {
    transform: scale(0.9, 1);
}

.rook {
    transform: scale(0.9, 1);
}

.queen {
    transform: scale(1.45, 1.25);
    margin-bottom: 9px;
}

.king {
    transform: scale(1.20, 1.2);
    margin-bottom: 8px;
}

.dragging {
    opacity: .5;
}