/* GENERAL */

body {
    display: grid;
    place-items: center;
    background-image: url("https://images.unsplash.com/photo-1528819622765-d6bcf132f793?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80");
}

h1 {
    font-size: 40px;
    color: aliceblue;
}

/* CHESSBOARD */

.chessboard {
    border: 15px solid black;
    width: 800px;
    height: 800px;
    display: block;
    margin: auto;
}

.square {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    font-size: 0;
}

.lightsquare {
    background: burlywood;
}

.darksquare {
    background: rgb(87, 43, 17);
}


/* UTILITIES */

.hide {
    display: none;
}

.drag-over {
    background: rgb(68, 74, 24)
}



/* ICONS */

.icon {
    width: 80px;
    position: relative;
}

.pawn {
    transform: scale(0.9, 0.9);
}

.bishop {
    transform: scale(1.5, 1.3);
    margin-bottom: 12px;
}

.knight {
    transform: scale(0.9, 1);
}

.rook {
    transform: scale(0.9, 1);
}

.queen {
    transform: scale(1.45, 1.25);
    margin-bottom: 3px;
}

.king {
    transform: scale(1.20, 1.2);
    margin-bottom: 2px;
}

.dragging {
    opacity: .5;
}